.circle {
  position: absolute;
  background-color: red;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.box {
  position: relative;
  height: 400px;
  width: 400px;
  background-color: bisque;
}
