:root {
  --bg-dark: #070606;
  --brand-color: #eb6114;
  --brand-color-secondary: #370665;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff")
      format("woff"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf")
      format("truetype"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff")
      format("woff"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf")
      format("truetype"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.light-mode {
  background-color: #e5e5e5;
}

.dark-text-color {
  color: var(--bg-dark) !important;
}

.dark-bg-color {
  background-color: var(--bg-dark) !important;
}
body {
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background-color: var(--bg-dark);
  position: relative;
  overflow-x: hidden;
  transition: background-color 0.3s ease;
}

.ellipse {
  position: absolute;
}

#blue {
  border-radius: 420.552px;
  background: #35589a;
  filter: blur(250px);
  width: 420.552px;
  height: 420.552px;
  flex-shrink: 0;
  right: 211px;
  top: 466px;
  z-index: -1;
}

#purple {
  border-radius: 443.813px;
  background: #370665;
  filter: blur(300px);
  width: 387px;
  height: 443.813px;
  flex-shrink: 0;
  top: 0px;
  left: 50px;
  z-index: -1;
}
/* navbar section */
.navbar {
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  flex-shrink: 0;
  gap: 139px;
}

.navbar__right {
  display: flex;
  gap: 38px;
  align-items: center;
}

.navbar__logo {
  width: 51.724px;
  height: 45.931px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  /* background-color: var(--brand-color); */
}

.navbar__search,
.navbar__login {
  display: none;
}

.navbar__converter {
  width: 60px;
  height: 27.75px;
  flex-shrink: 0;
}

/* Style the .btn container */
.btn {
  position: relative;
  width: 50px;
  height: 25px;
}

/* Hide the default checkbox */
.btn input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Create the slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 25px;
}

/* Create the circle inside the slider */
.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Change background color when checkbox is checked */
input:checked + .slider {
  background-color: var(--bg-dark);
}

/* Move the circle to the right when checked */
input:checked + .slider:before {
  transform: translateX(24px);
}

.navbar__items {
  display: none;
}

.navbar__converter img {
  width: 100%;
  height: 100%;
}

.navbar__cart {
  width: 17.8px;
  height: 17.8px;
  flex-shrink: 0;
}

.navbar__right--second {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
}

.btn input[type="checkbox"] {
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* navbar section end */

/* searchbar section start */
.searchbar {
  width: 335px;
  height: 34px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  border-radius: 30px;
  display: flex;
  background-color: white;
  justify-content: start;
  gap: 4px;
  padding-left: 4px;
}

.searchbar__input {
  border: none;
}
/* searchbar section end */

/* hero section start */
.hero {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 55px;
  position: relative;
}

.hero__background {
  display: none;
}

.hero__image {
  display: none;
}
.hero__description {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.hero__description-title {
  text-align: center;
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 142.857% */
  letter-spacing: 2.24px;
}

.hero__description-title-colorful {
  color: var(--brand-color);
}

.hero__description-content-small {
  text-align: center;
  color: #a4a4a4;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-style: normal;
  font-weight: 250;
  line-height: 40px; /* 222.222% */
  letter-spacing: 0.36px;
}

.hero__description-content-large {
  display: none;
}

.hero__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
}

.hero__button {
  width: 160px;
  border-radius: 20px;
  color: #e5e5e5;
  font-family: "Proxima Nova";
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.68px;
  padding: 12px;
  filter: drop-shadow(0px 0px 21px #f14a16);
}

.hero__button--left {
  background: var(--brand-color);
}

.hero__button--right {
  background: transparent;
  color: var(--brand-color);
  border: 3px solid var(--brand-color);
}

.hero__button-icon {
  margin-right: 8px;
}
/* hero section end */

/* headphones section start */
.headphones {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.headphones__wrapper {
  height: 320px;
  width: 100%;
  overflow-x: auto;
  display: flex;
  gap: 30px;
  align-items: center;
  position: relative;
}

.headphones__container {
  padding-top: 30px;
  width: 250px;

  flex-shrink: 0;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background: linear-gradient(
    116deg,
    rgba(192, 192, 192, 0.63) -10.88%,
    rgba(255, 255, 255, 0.49) -10.87%,
    rgba(255, 255, 255, 0.07) 74.79%
  );
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* overflow-x: scroll; */
}

.headphones__image {
  width: 107.143px;
  height: 132.143px;
  flex-shrink: 0;
  position: absolute;
  top: -100px;
  left: 70px;
  z-index: 2;
}

.headphones__image--item {
  width: 100%;
  height: 100%;
}

.headphones__box--text {
  display: flex;
  flex-direction: column;
}

.headphones__box--text--title {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 250% */
  letter-spacing: 0.32px;
}

.headphones__pricing-left {
  color: #fc9918;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 250% */
  letter-spacing: 0.32px;
}

.headphones__pricing-right {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 333.333% */
  letter-spacing: 0.24px;
  text-decoration: line-through;
}
/* headphones section end */

.scroller {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* trends section start */
.trends {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 30px;
  margin-top: 50px;
}

.trends__title {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 46px;
  font-weight: 700;
  line-height: 40px; /* 86.957% */
  letter-spacing: 0.92px;
}

.trends__boxes {
  display: flex;
  gap: 30px;
  overflow-x: scroll;
}

.trends__box {
  display: flex;
}

.trends__container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 250px;

  border-radius: 50px;
  border: 1px solid #fff;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  flex-shrink: 0;
}

.trends__container--image {
  width: 250px;
  height: 220.08px;
  flex-shrink: 0;
  border-radius: 50px 50px 0 0;
}

.trends__image {
  width: 100%;
  height: 100%;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.trends__container--description {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.trends__container--title {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.32px;
}

.trends__container--button {
  display: flex;
  justify-content: center;
  gap: 3px;
}

.trends__container--list--item {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 300% */
  letter-spacing: 0.24px;
  margin-left: 5px;
}

.trends__container--price {
  color: #fc9918;
  font-family: "Proxima Nova";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 180% */
  letter-spacing: 0.4px;
}
.trends__button {
  width: 100px;
  border-radius: 20px;
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.68px;
  padding: 12px;
}

.trends__container--button--left {
  background: var(--bg-dark);
  color: var(--brand-color);
  border: 1px solid var(--brand-color);
}

.trends__container--button--right {
  background: var(--brand-color);
  color: #e5e5e5;
  filter: drop-shadow(0px 0px 16px #f14a16);
}
/* trends section end */

/* buy section */

.buy {
  padding: 30px 0px;
  width: 70%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background: linear-gradient(91deg, #370665 0%, #35589a 100%);
}

.buy__title {
  width: 65%;
  color: #fff;
  text-align: center;
  font-family: "Proxima Nova";
  font-size: 24px;
  font-weight: 700;
}

.buy__benefits {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 40%;
}

.buy__benefits--item {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: center;
  display: flex;
  align-items: center;
}

/* buy section end */
/* offer section */

.offer {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.offer__title,
.offer__time--title {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;
}

.offer__image img {
  width: 100%;
  height: auto;
}

.offer__time {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
  align-items: center;
}

.offer__time--rectangle {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.rectangle__number {
  width: 90px;
  height: 90px;
  text-align: center;
  border-radius: 32px;
  background: var(--brand-color-secondary);
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 46px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: 2.3px;
}

.rectangle__text {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
}

.offer__time--container {
  display: flex;
  gap: 18px;
}

.offer__buttons {
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: center;
}

.offer__buttons--left,
.offer__buttons--right {
  width: 44%;
  border-radius: 20px;
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.68px;
  padding: 12px;
}

.offer__buttons--left {
  background: transparent;
  border: 3px solid var(--brand-color);
}

.offer__buttons--right {
  background: var(--brand-color);
  filter: drop-shadow(0px 0px 16px #f14a16);
}

/* offer section end */

/* accessories section */

.accessories {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 90%;
}

.accessories__title {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.12px;
}

.accessories__photos {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.accessories__photos--image {
  width: 380px;
  height: 211.111px;
  flex-shrink: 0;
}

.accessories__photos--image img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
/* accessories section end */

/* New arrivals section */
.arrival-box {
  background: #370665;
}
/* New arrivals section end */

/* download section */
.download {
  padding: 42px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
  width: 90%;
  flex-shrink: 0;
  border-radius: 25px;
  background: linear-gradient(91deg, #370665 0%, #35589a 100%);
}

.download__qr {
  width: 140px;
  height: 140px;
  flex-shrink: 0;
}

.download__qr-image {
  width: 100%;
  height: 100%;
}

.download__text {
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: center;
  width: 90%;
}

.download__text-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}

.download__text-title {
  color: #fff;
  text-align: center;
  font-family: "Proxima Nova";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.84px;
}

.download__text-content {
  color: #fff;
  text-align: center;
  font-family: "Proxima Nova";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.78px;
}

.download__text-icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icons {
  width: 109px;
  height: 28.976px;
  flex-shrink: 0;
  flex-shrink: 0;
  display: flex;
  background-color: #070606;
  border-radius: 5px;
  justify-content: center;
  gap: 6px;
  align-items: center;
}

.icons__image {
  color: #e5e5e5;
  height: 20px;
  width: 20px;
}

.icons__image img {
  width: 100%;
  height: 100%;
}
.icons__text {
  color: #e5e5e5;
  font-family: "Proxima Nova";
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
  width: 72%;
}

/* download section end */

/* footer section start */

.footer {
  width: 100%;
  background-color: var(--brand-color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
  gap: 36px;
}
#footer-country,
#footer-country-text {
  display: none;
}
.footer__item {
  width: 90%;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
}

.footer__item-title {
  margin-top: 40px;
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 46px; /* 191.667% */
  letter-spacing: 0.48px;
}

.footer__item-text {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 24px;
  font-style: normal;
  line-height: 46px; /* 191.667% */
  letter-spacing: 0.48px;
}

.footer__item-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: none;
}

.footer__item-logo {
  width: 193.965px;
  height: 172.241px;
  flex-shrink: 0;
}

.footer__item-logo img {
  width: 100%;
  height: 100%;
}

.footer__item-wrapper {
  width: 90%;
}

#input {
  padding: 9px;
  border-radius: 20px;
  border: 2px solid var(--brand-color);
  color: rgba(255, 255, 255, 0.5);
  font-family: "Proxima Nova";
  font-size: 24px;
  font-style: normal;
  line-height: 46px; /* 191.667% */
  letter-spacing: 0.48px;
  width: 90%;
}

#button {
  border-radius: 20px;
  background: var(--brand-color);
  width: 45%;
  text-align: center;
  margin: 0px auto;
}

.footer__item-logo {
  width: 193.965px;
  height: 172.241px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.footer__item-logo {
  width: 100%;
  height: 100%;
}
.footer__item-wrapper {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
#copyright {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 24px;
  font-style: normal;
  line-height: 46px; /* 191.667% */
  letter-spacing: 0.48px;
} /* footer section end */

@media (min-width: 1400px) {
  body {
    overflow-x: hidden;
  }
  /* downloads responsive */
  section {
    margin-bottom: 100px;
  }
  .download {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 183px;
  }

  .download__qr {
    width: 350px;
    height: 350px;
    flex-shrink: 0;
  }

  .download__text {
    width: 35%;
  }

  .download__text-title {
    color: #fff;
    font-family: "Proxima Nova";
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.68px;
  }

  .download__text-content {
    color: #fff;
    font-family: "Proxima Nova";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
  }

  .download__text-icons {
    flex-direction: row;
    width: 60%;
    height: 60px;
  }

  .icons {
    width: 50%;
    height: 100%;
    justify-content: center;
  }
  .icons__image {
    color: #e5e5e5;
    width: 20%;
    height: 80%;
    flex-shrink: 0;
  }
  .icons__text {
    font-size: 1rem;
  }
  /* download responsive */

  /* arrivals responsive */

  .trends {
    margin-top: -30px;
  }
  .trends__container--image {
    width: 100%;
    height: 331px;
  }
  .trends__boxes {
    gap: 124px;
  }
  .trends__box {
    width: 376px;
    height: 696px;
    flex-shrink: 0;
  }

  .trends__container {
    width: 100%;
  }

  .trends__container--title {
    color: #fff;
    font-family: "Proxima Nova";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 138.462% */
    letter-spacing: 0.52px;
  }

  .trends__container--list--item {
    color: #fff;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 200% */
    letter-spacing: 0.36px;
  }

  .trends__container--price {
    color: #fc9918;
    font-family: "Proxima Nova";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 128.571% */
    letter-spacing: 0.56px;
  }

  .trends__container--button--left {
    width: 45%;
    height: 45px;
    flex-shrink: 0;
  }
  .trends__container--button--right {
    width: 45%;
    height: 45px;
    flex-shrink: 0;
  }

  .trends__title,
  .buy__title,
  .offer__title,
  .accessories__title {
    text-align: center;
    color: #fff;
    font-family: "Proxima Nova";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 62.5% */
    letter-spacing: 1.28px;
  }

  .trends {
    gap: 100px;
  }

  /* arrivals responsive */

  /* buy section responsive */
  .buy {
    width: 1476px;
    flex-shrink: 0;
    gap: 40px;
    padding: 60px;
  }

  .buy__title {
    color: #fff;
    font-family: "Proxima Nova";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .buy__benefits {
    flex-direction: row;
    width: 90%;
    justify-content: center;
    gap: 112px;
  }

  .buy__benefits--item {
    color: #fff;
    font-family: "Proxima Nova";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.08px;
  }

  /* buy section responsive */

  /* accessories responsivee */
  .accessories__photos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .accessories__photos--image {
    width: 720px;
    height: 400px;
    flex-shrink: 0;
  }
  /* accessories responsivee */

  /* offer responsive */
  .offer {
    flex-direction: column;
    gap: 3px;
    flex-wrap: wrap;
    height: 540px;
    gap: 107px;
    justify-content: center;
  }

  .offer__image {
    width: 725px;
    height: 720px;
    flex-shrink: 0;
    order: -2;
  }

  .offer__buttons {
    width: 40%;
    height: 75px;
  }

  .offer__buttons--left {
    color: #f14a16;
    font-family: "Proxima Nova";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.04px;
  }
  .offer__buttons--right {
    color: #fff;
    font-family: "Proxima Nova";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.04px;
  }

  .offer__time {
    width: 25%;
  }

  .searchbar {
    display: none;
  }
  /* offer responsive */

  .hero {
    position: relative;
  }

  .hero__image {
    display: block;
    position: absolute;
    right: -110px;
    top: -100px;
    width: 1034px;
    height: 1979px;
    flex-shrink: 0;
    z-index: -1;
  }

  #blue {
    width: 904px;
    height: 904px;
    top: 310px;
    right: 900px;
  }

  #purple {
    width: 840px;
    height: 954px;
    flex-shrink: 0;
    left: 900px;
    top: -100px;
    filter: blur(300px);
  }

  .hero__description {
    width: 40%;
    margin-top: 200px;
  }

  .hero__description-title {
    color: #fff;
    font-family: "Proxima Nova";
    font-size: 85px;
    width: 540px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px; /* 117.647% */
    letter-spacing: 4.25px;
    text-align: justify;
  }

  .hero__description-title-colorful {
    color: #f14a16;
    font-family: "Proxima Nova";
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 4.25px;
  }

  .hero__description-content-large {
    display: block;
    color: #a4a4a4;
    font-family: "Proxima Nova";
    font-size: 32px;
    font-style: normal;
    font-weight: 250;
    line-height: 40px; /* 125% */
    letter-spacing: 0.64px;
  }

  .hero__description-content-small {
    display: none;
  }

  .hero__buttons {
    width: 40%;
  }

  .headphones {
    flex-direction: row-reverse;
    justify-content: center;
  }
  .scroller {
    display: flex;
    justify-content: center;
    width: 40%;
  }

  .headphones__wrapper {
    height: 470px;
    justify-content: end;
    align-items: center;
  }
  .headphones__container {
    width: 350px;
    height: 180px;
    flex-shrink: 0;
  }

  .headphones__image {
    width: 150px;
    height: 185px;
    flex-shrink: 0;
    left: 100px;
  }

  .headphones__box--text--title {
    color: #fff;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 166.667% */
    letter-spacing: 0.48px;
  }

  .headphones__pricing-left {
    color: #fc9918;
    font-family: "Proxima Nova";
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 173.913% */
    letter-spacing: 0.46px;
  }

  .headphones__pricing-right {
    color: #fff;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 222.222% */
    letter-spacing: 0.36px;
    text-decoration-line: strikethrough;
  }

  .hero__buttons {
    display: flex;
    justify-content: start;
  }

  .hero__button {
    width: 223px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 20px;
    color: #e5e5e5;
    color: #e5e5e5;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.96px;
    padding: 12px;
    filter: drop-shadow(0px 0px 21px #f14a16);
  }

  .navbar__left {
    display: none;
  }

  .navbar__right {
    width: 100%;
    justify-content: space-between;
  }

  .navbar__logo {
    width: 125px;
    height: 111px;
  }

  .navbar__items {
    display: flex;
    list-style-type: none;
    gap: 50px;
  }
  .navbar__item {
    color: #fff;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
  }

  .navbar__converter {
    width: 80px;
    height: 37px;
    flex-shrink: 0;
  }
  .navbar__search {
    display: block;
    color: white;
  }

  .navbar__login {
    display: block;
  }

  .navbar__login button {
    border-radius: 15px;
    border: 1px solid var(--brand-color);
    width: 127px;
    height: 52px;
    flex-shrink: 0;
    background-color: transparent;
    color: var(--brand-color);
    font-family: "Proxima Nova";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
  }

  .navbar__right--second {
    gap: 88px;
  }

  .navbar__item--underline {
    text-decoration: underline;
    text-decoration-color: var(--brand-color);
  }

  /* footer */
  #footer-country {
    display: block;
  }
  #footer-country-text {
    display: block;
  }

  .footer {
    position: relative;
    padding-top: 112px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: start;
    align-items: flex-start;
  }

  .footer__item {
    width: 20%;
    position: relative;
  }

  .footer__item-text {
    color: #fff;
    font-family: "Proxima Nova";
    font-size: 32px;
    font-style: normal;
    font-weight: normal;
    line-height: 64px; /* 200% */
    letter-spacing: 0.96px;
  }

  .footer__item-title {
    color: #fff;
    font-family: "Proxima Nova";
    font-size: 32px;
    font-style: normal;
    font-weight: 700px;
    line-height: 64px; /* 200% */
    letter-spacing: 0.96px;
  }

  .footer__item-logo {
    width: 365.517px;
    height: 324.579px;
    flex-shrink: 0;
  }

  .footer__logo {
    order: -1;
    height: 500px;
  }

  .footer__item-logo img {
    width: 100%;
    height: 100%;
  }

  #copyright {
    text-align: center;
    margin: 40px auto;
    text-align: center;
    color: #fff;
    font-family: "Proxima Nova";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px; /* 143.75% */
    letter-spacing: 1.6px;
  }

  .footer__item--full {
    width: 100%;
  }

  .newsletter {
    width: 40%;
    position: absolute;
    top: 900px;
  }

  .footer__item-wrapper {
    flex-direction: row;
  }

  .shop {
    width: 220px;
  }

  .support {
    width: 428px;
  }
  .about {
    width: 538px;
  }
}

@media (min-width: 1025px) {
  body {
    overflow-x: hidden;
  }
  /* offer responsive */
  .offer {
    flex-direction: column;
    flex-wrap: wrap;
    height: 540px;
    gap: 107px;
    justify-content: center;
    align-items: center;
  }

  .offer__image {
    width: 600px;
    height: 600px;
    flex-shrink: 0;
    order: -2;
  }

  .offer__buttons {
    width: 40%;
    height: 75px;
  }

  .offer__buttons--left {
    color: #f14a16;
    font-family: "Proxima Nova";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.04px;
  }
  .offer__buttons--right {
    color: #fff;
    font-family: "Proxima Nova";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.04px;
  }

  .offer__time {
    width: 25%;
  }

  .searchbar {
    display: none;
  }
  /* offer responsive */
}

@media (min-width: 800px) and (max-width: 1000px) {
  body {
    overflow-x: hidden;
  }
  .accessories__photos {
    justify-content: center;
    align-items: center;
  }
  .accessories__photos--image {
    width: 80%;
    align-items: center;
    justify-content: center;
  }
}
