:root {
  --bg-dark: #070606;
  --brand-color: #eb6114;
  --brand-color-secondary: #370665;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff")
      format("woff"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf")
      format("truetype"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff")
      format("woff"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf")
      format("truetype"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background-color: var(--bg-dark);
  position: relative;
}

.ellipse {
  position: absolute;
}

#blue {
  border-radius: 420.552px;
  background: #35589a;
  filter: blur(250px);
  width: 420.552px;
  height: 420.552px;
  flex-shrink: 0;
  right: 211px;
  top: 466px;
}

#purple {
  border-radius: 443.813px;
  background: #370665;
  filter: blur(300px);
  width: 443.813px;
  height: 443.813px;
  flex-shrink: 0;
  top: 0px;
  left: 50px;
}
/* navbar section */
.navbar {
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  flex-shrink: 0;
  gap: 139px;
}

.navbar__right {
  display: flex;
  gap: 38px;
  align-items: center;
}

.navbar__logo {
  width: 51.724px;
  height: 45.931px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  /* background-color: var(--brand-color); */
}

.navbar__converter {
  width: 60px;
  height: 27.75px;
  flex-shrink: 0;
}

.navbar__converter img {
  width: 100%;
  height: 100%;
}

.navbar__cart {
  width: 17.8px;
  height: 17.8px;
  flex-shrink: 0;
}
/* navbar section end */

/* searchbar section start */
.searchbar {
  width: 335px;
  height: 34px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  border-radius: 30px;
  display: flex;
  background-color: white;
  justify-content: start;
  gap: 4px;
  padding-left: 4px;
}

.searchbar__input {
  border: none;
}
/* searchbar section end */

/* hero section start */
.hero {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.hero__description {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.hero__description-title {
  text-align: center;
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 142.857% */
  letter-spacing: 2.24px;
}

.hero__description-title-colorful {
  color: var(--brand-color);
}

.hero__description-content {
  text-align: center;
  color: #a4a4a4;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-style: normal;
  font-weight: 250;
  line-height: 40px; /* 222.222% */
  letter-spacing: 0.36px;
}

.hero__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
}

.hero__button {
  width: 160px;
  border-radius: 20px;
  color: #e5e5e5;
  font-family: "Proxima Nova";
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.68px;
  padding: 12px;
  filter: drop-shadow(0px 0px 21px #f14a16);
}

.hero__button--left {
  background: var(--brand-color);
}

.hero__button--right {
  background: var(--bg-dark);
  color: var(--brand-color);
  border: 3px solid var(--brand-color);
}

.hero__button-icon {
  margin-right: 8px;
}
/* hero section end */

/* headphones section start */
.headphones {
  width: 90%;
  display: flex;
  gap: 30px;
  position: relative;
  overflow: scroll;
  height: 330px;
  align-items: center;
}

.headphones__container {
  position: relative;
}

.headphones__image {
  width: 107.143px;
  height: 132.143px;
  flex-shrink: 0;
  position: absolute;
  top: -100px;
  left: 70px;
  z-index: 2;
}

.headphones__image--item {
  width: 100%;
  height: 100%;
}

.headphones__box {
  padding-top: 30px;
  z-index: -1;
  width: 250px;
  flex-shrink: 0;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background: linear-gradient(
    116deg,
    rgba(192, 192, 192, 0.63) -10.88%,
    rgba(255, 255, 255, 0.49) -10.87%,
    rgba(255, 255, 255, 0.07) 74.79%
  );
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: scroll;
}

.headphones__box--text {
  display: flex;
  flex-direction: column;
}

.headphones__box--text--title {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 250% */
  letter-spacing: 0.32px;
}

.headphones__pricing-left {
  color: #fc9918;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 250% */
  letter-spacing: 0.32px;
}

.headphones__pricing-right {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 333.333% */
  letter-spacing: 0.24px;
  text-decoration: line-through;
}
/* headphones section end */

.scroller {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* trends section start */
.trends {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 30px;
  margin-top: 50px;
}

.trends__title {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 46px;
  font-weight: 700;
  line-height: 40px; /* 86.957% */
  letter-spacing: 0.92px;
}

.trends__boxes {
  display: flex;
  gap: 30px;
  overflow-x: scroll;
}

.trends__box {
  display: flex;
}

.trends__container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 250px;

  border-radius: 50px;
  border: 1px solid #fff;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  flex-shrink: 0;
}

.trends__container--image {
  width: 250px;
  height: 220.08px;
  flex-shrink: 0;
  border-radius: 50px 50px 0 0;
}

.trends__image {
  width: 100%;
  height: 100%;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.trends__container--description {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.trends__container--button {
  display: flex;
  justify-content: center;
  gap: 3px;
}

.trends__button {
  width: 100px;
  border-radius: 20px;
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.68px;
  padding: 12px;
}

.trends__container--button--left {
  background: var(--bg-dark);
  color: var(--brand-color);
  border: 1px solid var(--brand-color);
}

.trends__container--button--right {
  background: var(--brand-color);
  color: #e5e5e5;
  filter: drop-shadow(0px 0px 16px #f14a16);
}
/* trends section end */

/* buy section */

.buy {
  padding: 30px 0px;
  width: 70%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background: linear-gradient(91deg, #370665 0%, #35589a 100%);
}

.buy__title {
  width: 65%;
  color: #fff;
  text-align: center;
  font-family: "Proxima Nova";
  font-size: 24px;
  font-weight: 700;
}

.buy__benefits {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 40%;
}

.buy__benefits--item {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: center;
  display: flex;
  align-items: center;
}

/* buy section end */
/* offer section */

.offer {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.offer__title,
.offer__time--title {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;
}

.offer__image img {
  width: 100%;
  height: auto;
}

.offer__time {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
  align-items: center;
}

.offer__time--rectangle {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.rectangle__number {
  width: 90px;
  height: 90px;
  text-align: center;
  border-radius: 32px;
  background: var(--brand-color-secondary);
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 46px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: 2.3px;
}

.rectangle__text {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
}

.offer__time--container {
  display: flex;
  gap: 18px;
}

.offer__buttons {
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: center;
}

.offer__buttons--left,
.offer__buttons--right {
  width: 44%;
  border-radius: 20px;
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.68px;
  padding: 12px;
}

.offer__buttons--left {
  background: var(--bg-dark);
  border: 3px solid var(--brand-color);
}

.offer__buttons--right {
  background: var(--brand-color);
  filter: drop-shadow(0px 0px 16px #f14a16);
}

/* offer section end */

/* accessories section */

.accessories {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 90%;
}

.accessories__title {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.12px;
}

.accessories__photos {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.accessories__photos--image {
  width: 380px;
  height: 211.111px;
  flex-shrink: 0;
}

.accessories__photos--image img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
/* accessories section end */

/* New arrivals section */
.arrival-box {
  background: #370665;
}
/* New arrivals section end */

/* download section */
.download {
  padding: 42px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
  width: 90%;
  flex-shrink: 0;
  border-radius: 25px;
  background: linear-gradient(91deg, #370665 0%, #35589a 100%);
}

.download__qr {
  width: 140px;
  height: 140px;
  flex-shrink: 0;
}

.download__qr-image {
  width: 100%;
  height: 100%;
}

.download__text {
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: center;
  width: 90%;
}

.download__text-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}

.download__text-title {
  color: #fff;
  text-align: center;
  font-family: "Proxima Nova";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.84px;
}

.download__text-content {
  color: #fff;
  text-align: center;
  font-family: "Proxima Nova";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.78px;
}

.download__text-icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icons {
  width: 109px;
  height: 28.976px;
  flex-shrink: 0;
  flex-shrink: 0;
  display: flex;
  background-color: #070606;
  border-radius: 5px;
  justify-content: center;
  gap: 6px;
  align-items: center;
}

.icons__image {
  color: #e5e5e5;
}
.icons__text {
  color: #e5e5e5;
  font-family: "Proxima Nova";
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
}

/* download section end */

/* footer section start */

.footer {
  width: 100%;
  background-color: var(--brand-color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
  gap: 36px;
}

.footer__item {
  width: 90%;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
}

.footer__item-title {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 24px;
  font-style: normal;
  line-height: 46px; /* 191.667% */
  letter-spacing: 0.48px;
}

.footer__item-text {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 24px;
  font-style: normal;
  line-height: 46px; /* 191.667% */
  letter-spacing: 0.48px;
}

.footer__item-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: none;
}

.footer__item-logo {
  display: flex;
  gap: 32px;
}

.footer__item-logo img {
  width: 40.604px;
  height: 42.551px;
  flex-shrink: 0;
  border-radius: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#input {
  padding: 9px;
  border-radius: 20px;
  border: 2px solid var(--brand-color);
  color: rgba(255, 255, 255, 0.5);
  font-family: "Proxima Nova";
  font-size: 24px;
  font-style: normal;
  line-height: 46px; /* 191.667% */
  letter-spacing: 0.48px;
  width: 90%;
}

#button {
  border-radius: 20px;
  background: var(--brand-color);
  width: 45%;
  text-align: center;
  margin: 0px auto;
}

.footer__item-logo {
  width: 193.965px;
  height: 172.241px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.footer__item-logo {
  width: 100%;
  height: 100%;
}

#copyright {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 24px;
  font-style: normal;
  line-height: 46px; /* 191.667% */
  letter-spacing: 0.48px;
} /* footer section end */
