$font-family: "Open Sans";
$primary-color: "Orange";

// color variables
$white: rgba(255, 255, 255, 0.9);
$black: rgba(0, 0, 0, 1);

$sec-title-margin-bottom: 103px;
$sec-title-margin-bottom-lg: 150px;
$sec-title-font-size: 60px;
