* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.welcome {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

a {
  text-decoration: none;
}

.button {
  background-color: transparent;
  border: 2px solid red;
  font-family: "Russo one";
  color: red;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.button:hover {
  background-color: red;
  border: 2px solid red;
  font-family: "Russo one";
  color: white;
  padding: 10px;
  transition: 0.3s ease-in-out;
  cursor: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjRkZGIiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTUuNSAzLjIxVjIwLjhjMCAuNDUuNTQuNjcuODUuMzVsNC44Ni00Ljg2YS41LjUgMCAwIDEgLjM1LS4xNWg2Ljg3YS41LjUgMCAwIDAgLjM1LS44NUw2LjM1IDIuODVhLjUuNSAwIDAgMC0uODUuMzVaIj48L3BhdGg+PC9zdmc+"),
    auto;
}
