:root {
  --road-bg: #343434;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-family: "Russo One";
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='0' %3E%3Crect fill='%23F5F5F5' x='-60' y='-60' width='110' height='240'/%3E%3C/g%3E%3C/svg%3E");

  cursor: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjRkZGIiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTUuNSAzLjIxVjIwLjhjMCAuNDUuNTQuNjcuODUuMzVsNC44Ni00Ljg2YS41LjUgMCAwIDEgLjM1LS4xNWg2Ljg3YS41LjUgMCAwIDAgLjM1LS44NUw2LjM1IDIuODVhLjUuNSAwIDAgMC0uODUuMzVaIj48L3BhdGg+PC9zdmc+"),
    auto;
}

.score,
.high-score {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}

.game__over {
  display: none;
}

.game__over--text {
  font-size: 20px;
  color: red;
}

.game__over--button {
  background-color: transparent;
  border: 2px solid red;
  font-family: "Russo one";
  color: red;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.game__over--button:hover {
  background-color: red;
  border: 2px solid red;
  font-family: "Russo one";
  color: white;
  padding: 10px;
  transition: 0.3s ease-in-out;
  cursor: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjRkZGIiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTUuNSAzLjIxVjIwLjhjMCAuNDUuNTQuNjcuODUuMzVsNC44Ni00Ljg2YS41LjUgMCAwIDEgLjM1LS4xNWg2Ljg3YS41LjUgMCAwIDAgLjM1LS44NUw2LjM1IDIuODVhLjUuNSAwIDAgMC0uODUuMzVaIj48L3BhdGg+PC9zdmc+"),
    auto;
}

.game__info {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.welcome__message {
  font-size: 50px;
}

.welcome__message--colored {
  color: red;
  text-transform: uppercase;
}

.welcome__rules {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}

.welcome__rule {
  font-size: 30px;
}
